<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/images/output-onlinepngtools (1).png" class="d-inline-block align-top" width="42" height="51" alt="">
      </a>
      <a class="navbar-brand" href="#">CoffeeBreak API</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#users">Users</a>
          <a class="nav-item nav-link" href="#groups">Groups</a>
          <a class="nav-item nav-link" href="#models">Models</a>
        </div>
      </div>
    </nav>
    <div class="card">
      <h3 class="badge">
        <img src="/images/icons8-rest-api-30.png">
        Introduction</h3>
      <p id="intro-paragraph">
        Welcome to the CoffeeBreak API. The API allows you to do most common actions in CoffeeBreak APP. This includes  <b>create, read, update</b> and <b>delete</b>  operations for users, groups, coffees and enrollments.
      </p>
    </div>
    <div id="users" class="card">
      <h3 class="badge">
        <img src="/images/icons8-user-24.png">
        Users
      </h3>
      <ul>
        <div>
          <li class="border-primary alert-primary" id="li-users">
            <span class="badge bg-primary">GET</span>
            <h6>/users</h6>
            <p>Index all users</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-users">
            <div>
              <p>
                Get all the users in the system.<br>Returns a JSON array.
              </p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users</span>
            </div>
            <div>
              <span>#sample response </span>
              <span class="font">
                <br>
                 [<br>
                 &nbsp;&nbsp;{<br>
                  &nbsp;&nbsp;&nbsp;"groups": [<br>
                  <br>
                  &nbsp;&nbsp;&nbsp;],<br>
                  &nbsp;&nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8aca5",<br>
                  &nbsp;&nbsp;&nbsp;"name": "Ana",<br>
                  &nbsp;&nbsp;&nbsp;"limitOfExpense": 8,<br>
                  &nbsp;&nbsp;&nbsp;"limitOfCoffee": 2,<br>
                  &nbsp;&nbsp;&nbsp;"coffees": [<br>
                  <br>
                  &nbsp;&nbsp;&nbsp;],<br>
                  &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.619Z",<br>
                  &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-24T18:54:39.619Z",<br>
                  "__v": 0<br>
                  &nbsp;&nbsp;},<br>
                  &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;"groups": [<br>
                  <br>
                  &nbsp;&nbsp;&nbsp;],<br>
                  &nbsp;&nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8aca6",<br>
                  &nbsp;&nbsp;&nbsp;"name": "Bob",<br>
                  &nbsp;&nbsp;&nbsp;"limitOfExpense": 15,<br>
                  &nbsp;&nbsp;&nbsp;"limitOfCoffee": 5,<br>
                  &nbsp;&nbsp;&nbsp;"coffees": [<br>
                  <br>
                  &nbsp;&nbsp;&nbsp;],<br>
                  &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.619Z",<br>
                  &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-24T18:54:39.619Z",<br>
                  &nbsp;&nbsp;&nbsp;"__v": 0<br>
                  &nbsp;&nbsp;}<br>
                  &nbsp;&nbsp;... <br>
              ]<br>
              </span>
            </div>
          </div>
        </div>
        <div>
          <li class="border-primary alert-primary" id="li-one-user">
            <span class="badge bg-primary">GET</span>
            <h6>/users/:id</h6>
            <p>Find one user by Id</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-one-user">
            <div>
              <p>
                Users data can be retrieved using the API.
              </p>
              <span class="font alert-info">
                http://coffeebreak-app.herokuapp.com/api/users/5e7a576fa481a7dc69f8aca3
              </span>
              <span class="font">
                <br>
                <br>
                #parameters { <br>
                  &nbsp;"user_id" : (unique)(5e7a576fa481a7dc69f8aca3)<br>
                }
              </span>
            </div>
            <div>
              <span>#sample response </span>
              <span class="font">
                {<br>
                  &nbsp;&nbsp;"groups": [<br>
                  &nbsp;&nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"users": [<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"5e7a576fa481a7dc69f8aca3"<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;],<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8ac9c",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"name": "Coffee lovers",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"post": [<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "_id": "5e7a78c5d96feb001709c83a",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "user": "5e7a576fa481a7dc69f8aca3",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "content": "Research Showing Harmful Effects of Caffeine.",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "createdAt": "2020-03-24T21:16:53.522Z",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "updatedAt": "2020-03-24T21:16:53.522Z"<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;],<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.465Z",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-24T21:16:53.523Z",<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;"__v": 4<br>
                      &nbsp;&nbsp;&nbsp;}<br>
                      &nbsp;&nbsp;],<br>
                      &nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8aca3",<br>
                      &nbsp;&nbsp;"name": "Rose",<br>
                      &nbsp;&nbsp;"limitOfExpense": 5,<br>
                      &nbsp;&nbsp;"limitOfCoffee": 2,<br>
                      &nbsp;&nbsp;"coffees": [<br>
                      &nbsp;&nbsp;&nbsp;{<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5e7a594649b6fa0017552a79",<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"size": 2,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"price": 2.19,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T19:02:30.505Z",<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-24T19:02:30.505Z"<br>
                        &nbsp;&nbsp;&nbsp;},<br>
                        &nbsp;&nbsp;&nbsp;{<br>
                          &nbsp;&nbsp;&nbsp;&nbsp; "_id": "5e7a597849b6fa0017552a7a",<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;"size": 1,<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;"price": 1.99,<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T19:03:20.652Z",<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-24T19:03:20.652Z"<br>
                          &nbsp;&nbsp;&nbsp;}<br>
                          &nbsp;&nbsp;],<br>
                          &nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.619Z",<br>
                          &nbsp;&nbsp;"updatedAt": "2020-03-24T19:03:20.653Z",<br>
                          &nbsp;&nbsp;"__v": 3<br>
                }<br>
              </span>
            </div>
          </div>
        </div>
        <div>
          <li class="border-success alert-success" id="li-create-user">
            <span class="badge bg-success">POST</span>
            <h6>/users</h6>
            <p>Create new user</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-create-user">
            <div>
              <p>Users can be created through the API by passing in these parameters</p>
              <p class="font">- name</p>
              <p class="font">- limitOfExpense</p>
              <p class="font">- limitOfCoffee</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users</span><br>
              <br><span>+ Body Request :</span><br><br>
              <span class="font">
                {<br>
                  &nbsp;"name" : "Yasaman",<br>
	                &nbsp;"limitOfExpense" : "10",<br>
                  &nbsp;"limitOfCoffee" : "3"<br>
                }
              </span>
            </div>
            <div>
              <span>#sample response </span><br>
              <span class="font">
                {<br>
                  &nbsp;"groups": [],<br>
                  &nbsp;"_id": "5e7b76550aa60e0017e8321e",<br>
                  &nbsp;"name": "Yasaman",<br>
                  &nbsp;"limitOfExpense": 10,<br>
                  &nbsp;"limitOfCoffee": 3,<br>
                  &nbsp;"coffees": [],<br>
                  &nbsp;"createdAt": "2020-03-25T15:18:45.385Z",<br>
                  &nbsp;"updatedAt": "2020-03-25T15:18:45.385Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>
        <div>
          <li class="border-warning alert-warning" id="li-update-user">
            <span class="badge bg-warning">PUT</span>
            <h6>/users/:id</h6>
            <p>Update user</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-update-user">
            <div>
              <p>Users can be updated through the API by passing in these parameters.</p>
              <p>Note: parameters are the same as <span class="alert-danger">create</span> above</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users/5e7b76550aa60e0017e8321e</span><br>
              <br><span>+ Body Request :</span><br><br>
              <span class="font">
                {<br>
	                &nbsp;"limitOfExpense" : "8",<br>
                  &nbsp;"limitOfCoffee" : "2"<br>
                }
              </span>
            </div>
            <div>
              <span>#sample response </span><br>
              <span class="font">
                {<br>
                  &nbsp;"groups": [],<br>
                  &nbsp;"_id": "5e7b76550aa60e0017e8321e",<br>
                  &nbsp;"name": "Yasaman",<br>
                  &nbsp;"limitOfExpense": 8,<br>
                  &nbsp;"limitOfCoffee": 2,<br>
                  &nbsp;"coffees": [],<br>
                  &nbsp;"createdAt": "2020-03-25T15:18:45.385Z",<br>
                  &nbsp;"updatedAt": "2020-03-25T15:26:47.623Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>
       <div>
        <li class="border-danger alert-danger" id="li-delete-user">
          <span class="badge bg-danger">DELETE</span>
          <h6>/users/:id</h6>
          <p>Delete user</p>
          <img src="/images/baseline_unfold_more_black_18dp.png">
        </li>
        <div class="examples" id="div-delete-user">
          <div>
            <p>
              Deletes a user permanentely from the system.
            </p>
            <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users/5e7b76550aa60e0017e8321e</span><br>

          </div>
          <div>
            <span class="font">
              #sample response<br>
              {<br>
                &nbsp;"message" : "success"<br>
              }<br>
            </span>
          </div>
        </div>
       </div>
       <div>
        <li class="border-primary alert-primary" id="li-coffees">
          <span class="badge bg-primary ">GET</span>
          <h6>/users/:id/coffees</h6>
          <p>Show all coffees of user</p>
          <img src="/images/baseline_unfold_more_black_18dp.png">
        </li>
        <div class="examples" id="div-coffees">
          <div>
            <p>Get all the coffees of the unique user in the system.
              <br>Returns a JSON array.
            </p>
            <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users/5e7a576fa481a7dc69f8aca3/coffees</span><br><br>
            <span class="font">
              #parameters {
                "user_id" : (unique)(5e7a576fa481a7dc69f8aca3)
               }
            </span>
          </div>
          <div>
            <span class="font">#sample response</span><br>
            <span class="font">
              [<br>
              &nbsp;{<br>
                &nbsp; &nbsp;"_id": "5e7a594649b6fa0017552a79",<br>
                &nbsp;&nbsp;"size": 2,<br>
                &nbsp;&nbsp;"price": 2.19,<br>
                &nbsp;&nbsp;"createdAt": "2020-03-24T19:02:30.505Z",<br>
                &nbsp;&nbsp;"updatedAt": "2020-03-24T19:02:30.505Z"<br>
                &nbsp;},<br>
                &nbsp;{<br>
                  &nbsp;&nbsp;"_id": "5e7a597849b6fa0017552a7a",<br>
                  &nbsp;&nbsp;"size": 1,<br>
                  &nbsp;&nbsp;"price": 1.99,<br>
                  &nbsp;&nbsp;"createdAt": "2020-03-24T19:03:20.652Z",<br>
                  &nbsp;&nbsp;"updatedAt": "2020-03-24T19:03:20.652Z"<br>
                  &nbsp;}<br>
              ]<br>
            </span>
          </div>
        </div>
       </div>
        <div>
          <li class="border-success alert-success" id="li-create-coffee">
            <span class="badge bg-success">POST</span>
            <h6>/users/:id/coffees</h6>
            <p>Create coffee</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-create-coffee">
            <div>
              <p>Coffees can be created through the API by passing in these parameters</p>
              <p class="font">- Size</p>
              <p class="font">- Price</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users/5e7a576fa481a7dc69f8aca6/coffees</span><br>
              <br><span>+ Body Request :</span><br><br>
              <span class="font">
                {<br>
                  &nbsp;"size" : "2",<br>
	                &nbsp;"price" : "2.34",<br>
                }
              </span>
            </div>
            <div>
              <span class="font">
                #sample response
              </span>
              <span class="font">
                {<br>
                  &nbsp;"groups": [],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8aca6",<br>
                  &nbsp;"name": "Bob",<br>
                  &nbsp;"limitOfExpense": 15,<br>
                  &nbsp;"limitOfCoffee": 5,<br>
                  &nbsp;"coffees": [<br>
                  &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;"_id": "5e7ba9096f41ba0017e604bc",<br>
                    &nbsp;&nbsp;&nbsp;"size": 2,<br>
                    &nbsp;&nbsp;&nbsp;"price": 2.34,<br>
                    &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-25T18:55:05.300Z",<br>
                    &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-25T18:55:05.300Z"<br>
                    &nbsp;&nbsp;}<br>
                    &nbsp;],<br>
                    &nbsp;"createdAt": "2020-03-24T18:54:39.619Z",<br>
                    &nbsp;"updatedAt": "2020-03-25T18:55:05.300Z",<br>
                    &nbsp;"__v": 1<br>
              }<br>
              </span>
            </div>
          </div>
        </div>
        <div> 
          <li class="border-warning alert-warning" id="li-join">
            <span class="badge bg-warning">PUT</span>
            <h6>/groups/:groupId/join</h6>
            <p>User join a group</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-join">
            <div>
              <p>User can join a group.
              </p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/join</span><br><br>
              <span class="font">
                + Body Request <br>
                {<br>
                  &nbsp;"userId" : "5e7a576fa481a7dc69f8aca4"<br>
                }<br>
              </span>
            </div>
            <div>
              <span class="font">
                ####### Group<br>
                {<br>
                  &nbsp;"users": [<br>
                  &nbsp;&nbsp;"5e7a576fa481a7dc69f8aca4"<br>
                  &nbsp;],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8ac9d",<br>
                  &nbsp;"name": "Water",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;"updatedAt": "2020-03-25T19:08:37.913Z",<br>
                  &nbsp;"__v": 1<br>
              }<br><br>
              </span>
              <span class="font">
                ####### User<br>
                {<br>
                  &nbsp;"groups": [<br>
                  &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;"users": [<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"5e7a576fa481a7dc69f8aca4"<br>
                    &nbsp;&nbsp;&nbsp;],<br>
                    &nbsp;&nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8ac9d",<br>
                    &nbsp;&nbsp;&nbsp;"name": "Water",<br>
                    &nbsp;&nbsp;&nbsp;"post": [<br>
                      <br>
                      &nbsp;&nbsp;&nbsp;],<br>
                      &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                      &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-25T19:08:37.913Z",<br>
                      &nbsp;&nbsp;&nbsp;"__v": 1<br>
                      &nbsp;&nbsp;}<br>
                      &nbsp;],<br>
                      &nbsp;"_id": "5e7a576fa481a7dc69f8aca4",<br>
                      &nbsp;"name": "Niki",<br>
                      &nbsp;"limitOfExpense": 10,<br>
                      &nbsp;"limitOfCoffee": 2,<br>
                      &nbsp;"coffees": [<br>
                  <br>
                  &nbsp;],<br>
                  &nbsp;"createdAt": "2020-03-24T18:54:39.619Z",<br>
                  &nbsp;"updatedAt": "2020-03-25T19:08:37.938Z",<br>
                  &nbsp;"__v": 1<br>
                }<br>
              </span>
            </div>
          </div>
        </div>
     </ul>
    </div>
    <div id="groups" class="card">
      <h3 class="badge">
        <img src="/images/icons8-add-user-group-man-man-24.png">
        Groups
      </h3>
      <ul>
        <div>
          <li class="border-primary alert-primary" id="li-groups">
            <span class="badge bg-primary">GET</span>
            <h6>/groups</h6>
            <p>Index all groups</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-groups">
            <div>
              <p>
                Get all the groups in the system.<br>Returns a JSON array.
              </p>
              <span class="font alert-info">
                http://coffeebreak-app.herokuapp.com/api/groups
              </span>

            </div>
            <div>
              <span class="font">#sample response </span>
              <span class="font">
                [<br>
                &nbsp;{<br>
                  &nbsp;&nbsp;"users": [],<br>
                  &nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8ac9f",<br>
                  &nbsp;&nbsp;"name": "No to Coffee",<br>
                  &nbsp;&nbsp;"post": [],<br>
                  &nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;&nbsp;"updatedAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;&nbsp;"__v": 0<br>
                  &nbsp;},<br>
                  &nbsp;{<br>
                    &nbsp;&nbsp;"users": [],<br>
                    &nbsp;&nbsp;"_id": "5e7a576fa481a7dc69f8aca0",<br>
                    &nbsp;&nbsp;"name": "Coffee & code",<br>
                    &nbsp;&nbsp;"post": [],<br>
                    &nbsp;&nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                    &nbsp;&nbsp;"updatedAt": "2020-03-24T18:54:39.466Z",<br>
                    &nbsp;&nbsp;"__v": 0<br>
                    &nbsp;},<br>
                    ... <br>
              ]<br>
              </span>
            </div>
          </div>
        </div>
        <div>
          <li class="border-primary alert-primary" id="li-one-group">
            <span class="badge bg-primary">GET</span>
            <h6>/groups/:id</h6>
            <p>Find group by Id</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-one-group">
            <div>
              <p>
                group's data can be retrieved using the API.
              </p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8aca0</span>
            </div>
            <div>
              <span class="font">#sample response</span><br>
              <span class="font">
                {<br>
                  &nbsp;"users": [],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8aca0",<br>
                  &nbsp;"name": "Coffee & code",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;"updatedAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>
        <div>
          <li class="border-success alert-success" id="li-create-group">
            <span class="badge bg-success">POST</span>
            <h6>/groups</h6>
            <p>Create new group</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-create-group">
            <div>
              <p>
                Group can be created through the API by passing in these parameters
              </p>
              <span class="font">- name</span><br><br><br>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups</span><br><br>
              <span class="font">
                {<br>
                  &nbsp;"name" : "Quarantine"<br>
                }<br>
              </span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
              </span>
              <span class="font">
                {<br>
                  &nbsp;"users": [],<br>
                  &nbsp;"_id": "5e7c0901a421eb001716826f",<br>
                  &nbsp;"name": "Quarantine",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-26T01:44:33.919Z",<br>
                  &nbsp;"updatedAt": "2020-03-26T01:44:33.919Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>       
        <div>
          <li class="border-warning alert-warning" id="li-update-group">
            <span class="badge bg-warning">PUT</span>
            <h6>/groups/:id</h6>
            <p>Update group</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-update-group">
            <div>
              <p>groups can be updated through the API by passing in these parameters.</p>
              <p>Note: parameters are the same as <span class="alert-danger">create</span> above</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/users/5e7b76550aa60e0017e8321e</span><br>
              <br><span>+ Body Request :</span><br><br>
              <span class="font">
                {<br>
	                &nbsp;"name" : "Quarantine1",<br>
                }
              </span>
            </div>
            <div>
              <span class="font">
                #sample response
              </span><br>
              <span class="font">
                {<br>
                  &nbsp;"users": [],<br>
                  &nbsp;"_id": "5e7c0901a421eb001716826f",<br>
                  &nbsp;"name": "Quarantine1",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-26T01:44:33.919Z",<br>
                  &nbsp;"updatedAt": "2020-03-26T01:59:57.202Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>        
        <div>
          <li class="border-danger alert-danger" id="li-delete-group">
            <span class="badge bg-danger">DELETE</span>
            <h6>/groups/:id</h6>
            <p>Delete group</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-delete-group">
            <div>
              <p>Deletes a group permanentely from the system.</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7c0901a421eb001716826f</span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                {<br>
                  &nbsp;"users": [],<br>
                  &nbsp;"_id": "5e7c0901a421eb001716826f",<br>
                  &nbsp;"name": "Quarantine1",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-26T01:44:33.919Z",<br>
                  &nbsp;"updatedAt": "2020-03-26T01:59:57.202Z",<br>
                  &nbsp;"__v": 0<br>
              }<br>
              </span>
            </div>
          </div>
        </div>       
        <div>
          <li class="border-primary alert-primary" id="li-posts">
            <span class="badge bg-primary">GET</span>
            <h6>/groups/:id/posts</h6>
            <p>Show all posts of group </p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-posts">
            <div>
              <p>
                Get all the posts of the group in the system.
              </p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/posts</span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                [<br>
                    &nbsp;{<br>
                      &nbsp;&nbsp;"_id": "5e7cbb90965b540017f60141",<br>
                      &nbsp;&nbsp;"user": "5e7a576fa481a7dc69f8aca4",<br>
                      &nbsp;&nbsp;"content": "Many people drink too much coffee in the morning because they are thirsty. Drinking water first will quench your thirst and ensure you don’t skull down an extra large latte on your way to work.",<br>
                      &nbsp;&nbsp;"createdAt": "2020-03-26T14:26:24.341Z",<br>
                      &nbsp;&nbsp;"updatedAt": "2020-03-26T14:26:24.341Z"<br>
                      &nbsp;}<br>
                ]<br>
              </span>
            </div>
          </div>
        </div>        
        <div>
          <li class="border-primary alert-primary" id="li-one-post">
            <span class="badge bg-primary">GET</span>
            <h6>/groups/:id/posts/:postId</h6>
            <p>Find a post of the group by Id</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-one-post">
            <div>
              <p>Find post by Id</p>
              <span class="forn alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/posts/5e7cbb90965b540017f60141</span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                   {<br>
                      &nbsp;"_id": "5e7cbb90965b540017f60141",<br>
                      &nbsp;"user": "5e7a576fa481a7dc69f8aca4",<br>
                      &nbsp;"content": "Many people drink too much coffee in the morning because they are thirsty. Drinking water first will quench your thirst and ensure you don’t skull down an extra large latte on your way to work.",<br>
                      &nbsp;"createdAt": "2020-03-26T14:26:24.341Z",<br>
                      &nbsp;"updatedAt": "2020-03-26T14:26:24.341Z"<br>
                      }<br>
              </span>
            </div>
          </div>
        </div>       
        <div>
          <li class="border-success alert-success" id="li-create-post">
            <span class="badge bg-success">POST</span>
            <h6>/groups/:id/posts</h6>
            <p>Create new post</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-create-post">
            <div>
              <p> Each users of groups can post some data(content and pictures)</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/posts</span>
              <span class="font">
                <br><br>+Body Request<br>
                {<br>
                  &nbsp;"user" : "5e7a576fa481a7dc69f8aca4",<br>
                  &nbsp;"content" : "Many people drink too much coffee in the morning because they are thirsty.<br>&nbsp; Drinking water first will quench your thirst and ensure you don’t skull down an extra large latte<br>&nbsp; on your way to work."<br>
                }<br>
              </span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                {<br>
                  &nbsp;"users": [<br>
                  &nbsp;&nbsp;"5e7a576fa481a7dc69f8aca4"<br>
                  &nbsp;],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8ac9d",<br>
                  &nbsp;"name": "Water",<br>
                  &nbsp;"post": [<br>
                  &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;"_id": "5e7cbb90965b540017f60141",<br>
                    &nbsp;&nbsp;&nbsp;"user": "5e7a576fa481a7dc69f8aca4",<br>
                    &nbsp;&nbsp;&nbsp;"content": "Many people drink too much coffee in the morning because they are thirsty. Drinking <br>&nbsp;&nbsp;&nbsp; water first will quench your thirst and ensure you don’t skull down an extra large latte on your<br>&nbsp;&nbsp;&nbsp; way to work.",<br>
                    &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-26T14:26:24.341Z",<br>
                    &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-26T14:26:24.341Z"<br>
                    &nbsp;&nbsp;}<br>
                    &nbsp;],<br>
                    &nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                    &nbsp;"updatedAt": "2020-03-26T14:26:24.342Z",<br>
                    &nbsp;"__v": 2<br>
              }<br>
              </span>
            </div>
          </div>
        </div>      
        <div>
          <li class="border-warning alert-warning" id="li-update-post">
            <span class="badge bg-warning">PUT</span>
            <h6>/groups/:id/posts/:postId</h6>
            <p>Update the content of the post</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">          
          </li>
          <div class="examples" id="div-update-post">
            <div>
              <p>posts can be updated through the API by passing in these parameters.</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/posts/5e7cbb90965b540017f60141</span><br><br>
              <span class="font">
                + Body Request <br>
                {<br>
                  &nbsp;"content" : "Your body is dehydrated after fasting all night and coffee is a diuretic. This means it stimulates the kidneys to excrete more sodium into the urine."<br>
                }<br>
              </span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                {<br>
                  &nbsp;"users": [<br>
                  &nbsp;&nbsp;"5e7a576fa481a7dc69f8aca4"<br>
                  &nbsp;],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8ac9d",<br>
                  &nbsp;"name": "Water",<br>
                  &nbsp;"post": [<br>
                  &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;"_id": "5e7cbb90965b540017f60141",<br>
                    &nbsp;&nbsp;&nbsp;"user": "5e7a576fa481a7dc69f8aca4",<br>
                    &nbsp;&nbsp;&nbsp;"content": "Your body is dehydrated after fasting all night and coffee is a diuretic. This means it stimulates the kidneys to excrete more sodium into the urine.",<br>
                    &nbsp;&nbsp;&nbsp;"createdAt": "2020-03-26T14:26:24.341Z",<br>
                    &nbsp;&nbsp;&nbsp;"updatedAt": "2020-03-26T15:02:08.612Z"<br>
                    &nbsp;&nbsp;}<br>
                    &nbsp;],<br>
                    &nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                    &nbsp;"updatedAt": "2020-03-26T15:02:08.613Z",<br>
                    &nbsp;"__v": 2<br>
              }<br>
              </span>
            </div>
          </div>
        </div>      
        <div>
          <li class="border-danger alert-danger" id="li-delete-post">
            <span class="badge bg-danger">DELETE</span>
            <h6>/groups/:id/posts/:postId</h6>
            <p>Delete a post</p>
            <img src="/images/baseline_unfold_more_black_18dp.png">
          </li>
          <div class="examples" id="div-delete-post">
            <div>
              <p>Usres can delete their post from groups</p>
              <span class="font alert-info">http://coffeebreak-app.herokuapp.com/api/groups/5e7a576fa481a7dc69f8ac9d/posts/5e7cbb90965b540017f60141</span>
            </div>
            <div>
              <span class="font">
                #sample response<br>
                {<br>
                  &nbsp;"users": [<br>
                  &nbsp;&nbsp;"5e7a576fa481a7dc69f8aca4"<br>
                  &nbsp;],<br>
                  &nbsp;"_id": "5e7a576fa481a7dc69f8ac9d",<br>
                  &nbsp;"name": "Water",<br>
                  &nbsp;"post": [],<br>
                  &nbsp;"createdAt": "2020-03-24T18:54:39.466Z",<br>
                  &nbsp;"updatedAt": "2020-03-26T15:13:20.646Z",<br>
                  &nbsp;"__v": 3<br>
              }<br>
              </span>
            </div>
          </div>
        </div>
        
      </ul>
    </div>
    <div id="models-card">
      <h3 class="badge">
        <img src="/images/icons8-big-data-50.png">
        Models
      </h3>
      <div id="models">
        <div class="model">
          <h4 class="badge">User Model</h4>
          <div>
            <span class="font">
              {<br>
                &nbsp;&nbsp;name<span class="red-flag">*</span> : String,<br>
                &nbsp;&nbsp;picture : String,<br>
                &nbsp;&nbsp;expense :  : Number,<br>
                &nbsp;&nbsp;limitOfExpense<span class="red-flag">*</span> : Number,<br>
                &nbsp;&nbsp;numberOfCoffee : Number,<br>
                &nbsp;&nbsp;limitOfCoffee<span class="red-flag">*</span> : Number,<br>
                &nbsp;&nbsp;coffees : [coffeeSchema],<br>
                &nbsp;&nbsp;groups : [Schema.Types.ObjectId]<br>
              }<br>
            </span>
          </div>
          
        </div>
        <div class="model">
          <h4 class="badge">Coffee Model</h4>
          <div>
            <span class="font">
              {<br>
               &nbsp;&nbsp;size<span class="red-flag">*</span> : Number,<br>
               &nbsp;&nbsp;price<span class="red-flag">*</span> : Number<br>
              }<br>
            </span>
          </div>
          
        </div>
        <div class="model">
          <h4 class="badge">Group Model</h4>
          <div>
            <span class="font">
              {<br>
                &nbsp;&nbsp;name<span class="red-flag">*</span> : String,<br>
                &nbsp;&nbsp;users : [Schema.Types.ObjectId],<br>
                &nbsp;&nbsp;post : [postSchema]<br>
              }<br>
            </span>
          </div>
        </div>
        <div class="model">
          <h4 class="badge">Post Model</h4>
          <div>
            <span class="font">
              {<br>
                &nbsp;&nbsp;user<span class="red-flag">*</span> : [Schema.Types.ObjectId],<br>
                &nbsp;&nbsp;content :  String,<br>
                &nbsp;&nbsp;picture :  String,<br>
              }<br>
            </span>
          </div>
        </div>
      </div>
      

    </div>
  </body>
</html>
