body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar {
  margin-bottom: 30px;
  border-radius: 10px;
}
.bg-light {
  background-color: #e9e8f7!important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 119, 0);
  font-size: 20px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: rgb(15, 7, 97);
}
.list-group li{
  margin-bottom: 10px;
  border-radius: 5px;
}
li {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  border : 1px solid;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px #b6b6b8;
  font-size: 18px;
  z-index: 10;
  clear: both;
}
ul li .badge {
  color : white;
  padding: 7px;
  width: 80px;
  height: 28px;
  margin-right: 10px;
  font-size: 14px;
  opacity: 70%;

}

li>p , li>h6{
  padding: 0px;
  margin: auto 10px;
  color: rgb(15, 7, 97);
}

p {
  font-size: 15px;
}
h6 {
  font-size: 21px;
  font-weight: 500;
  font-family: monospace;
}

.card {
  background-color: #e9e8f7;
  margin-bottom: 30px;
  padding-right: 20px;
  border-radius: 10px;

}
h3.badge {
  color: rgb(15, 7, 97);
  font-size: 20px;
  text-align: left;
  padding : 20px;
}

.examples{
  display: flex;
  background-color: #333;
  overflow: scroll;
  margin:0px 5px 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: inset 0 1px rgba(255,255,255,.17);
  color: white;
}
ul>div {
  margin-bottom: 10px;
}
.examples>div{
  width: 800px;
  float: left;
  height: 500px;
  overflow: scroll;
  border-left: 1px solid rgb(27, 27, 27);
  /* box-shadow: 0.7px 0px 0px rgba(255,255,255,.17); */
  box-shadow: -0.7px 0px 0px rgba(255,255,255,.17);
  border-bottom: none;
  margin: 5px;
 padding: 10px;
}
.font {
  font-family: "Consolas";
}
.alert-info{
  font-size: 18px;
}

li>img {
  position: absolute;
  right: 20px;
  cursor: pointer;
  width: 28px;
}

h3>img{
  width: 24px;
  height: 24px;
}
#intro-paragraph{
  font-size: 17px;
  padding: 0px 30px 10px 30px;
  line-height: 1.8;
}